<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>票务系统</title>
</head>
<body>
	<div>
				<div>
					<span>全部</span>
					 <span> <span>请选择影片</span>
					</span>
				</div>
				<div>
						<div class="movie-item" style="float:left; display:inline;height: 330px;width: 300px;margin-bottom: 60px">
									<img  style="height: 330px;width: 243px"
										src="/images/xingqiujueqi.jpg" />
												<article>猩球崛起3：终极之战</article>
								<a  href="http://localhost:8080/movie1"
									target="_blank">购
									票</a>
						</div>
									<div class="movie-poster" style="float:left; display:inline;height: 330px;width: 300px;margin-bottom: 60px">
										<img  style="height: 330px;width: 243px"
											src="/images/wangpaibaobiao.jpg" />
											<article>王牌保镖</article>
									<a href="http://localhost:8080/movie2"
										class="active" target="_blank"
										data-act="salePlayingMovie-click" data-val="{movieid:344055}">购
										票</a>
									</div>
									<div class="movie-poster" style="float:left; display:inline;height: 330px;width: 300px;margin-bottom: 60px">
										<img  style="height: 330px;width: 243px"
											src="/images/zhizhuxia.jpg" />
											<article>蜘蛛侠：英雄归来</article>
									<a href="http://localhost:8080/movie3"
										class="active" target="_blank"
										data-act="salePlayingMovie-click" data-val="{movieid:334620}">购
										票</a>
									</div>
									<div class="movie-poster" style="float:left; display:inline;height: 330px;width: 300px;margin-bottom: 60px">
										<img style="height: 330px;width: 243px"
											src="/images/xiuxiudetiequan.jpg" />
											<article>羞羞的铁拳</article>
									<a href="http://localhost:8080/movie4"
										class="active" target="_blank"
										data-act="salePlayingMovie-click" data-val="{movieid:1198214}">购
										票</a>
									</div>
									<div class="movie-poster" style="float:left; display:inline;height: 330px;width: 300px;margin-bottom: 60px">
										<img  style="height: 330px;width: 243px"
											src="/images/kanbujiandekeren.jpg" />
											<article>看不见的客人</article>
									<a href="http://localhost:8080/movie5"
										class="active" target="_blank"
										data-act="salePlayingMovie-click" data-val="{movieid:458721}">购
										票</a>
									</div>
									<div class="movie-poster" style="float:left; display:inline;height: 330px;width: 300px;margin-bottom: 60px">
										<img style="height: 330px;width: 243px"
											src="/images/fengrenjiyuedui.jpg" />
											<article>缝纫机乐队</article>
									<a href="http://localhost:8080/movie6"
										class="active" target="_blank"
										data-act="salePlayingMovie-click" data-val="{movieid:1198177}">购
										票</a>
									</div>
									<div class="movie-poster" style="float:left; display:inline;height: 330px;width: 300px;margin-bottom: 60px">
										<img style="height: 330px;width: 243px"
											src="/images/yinglunduijue.jpg" />
											<article>英伦对决</article>
									<a href="http://localhost:8080/movie7"
										class="active" target="_blank"
										data-act="salePlayingMovie-click" data-val="{movieid:345420}">购
										票</a>
									</div>
									<div class="movie-poster" style="float:left; display:inline;height: 330px;width: 300px;margin-bottom: 60px">
										<img style="height: 330px;width: 243px"
											src="/images/daojianshenyu.png" />
											<article>刀剑神域：序列之争</article>
									<a href="http://localhost:8080/movie8"
										class="active" target="_blank"
										data-act="salePlayingMovie-click" data-val="{movieid:358750}">购
										票</a>
									</div>
				</div>
			</div>
</body>
</html>

